<h1>Chef</h1>

<p>Kedves <%= @user.username %>,</p>

<p>
Köszöntjük a Chef oldalán! Kattintson az alábbi hivatkozásra, hogy aktiválhassuk felhasználóját::
</p>

<%= link_to "Aktiválom a felhasználómat", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>