// Colors
$color-main: #313131;
$color-main-negative: #dedede;
$color-secondary: #689f38;
$color-background: #ffffff;
$color-navigation-border: #ececec;

// Fonts
$font-main: 'Roboto Slab', serif;
$font-secondary: 'PT Serif', serif;