// Colors
$color-main: #313131;
$color-main-negative: #dedede;
$color-secondary: #689f38;
$color-background: #ffffff;
$color-navigation-border: #ececec;
$color-footer-negative: #999999;
$color-bloquote: #888888;
$color-fa: #aaaaaa;
$color-ul-pin: #b3b3b3;

// Fonts
$font-main: 'Roboto Slab', serif;
$font-secondary: 'PT Serif', serif;