// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "settings";

.post{

  .thumbnail{

    a{
      position: relative;
      background: $color-ul-pin url(image_path('no-image.jpg'));
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      display: inline-block;
      vertical-align: top;
      opacity: 1;
      transition: opacity .3s ease;

      &:hover{
        opacity: 0.8;
      }

      &:before{
        display: block;
        content: '';
        width: 100%;
        padding-top: 66.6667%;
        background: none;
        box-shadow: none;
      }
    }
  }
}
