<footer id="footer-section">
  <div class="container">
    <div class="footer-logo-copyright">
      <div class="footer-logo">
        <a href="<%= request.base_url %>">
          <%= image_tag 'logo-footer.svg' %>
        </a>
      </div>
      <div class="footer-copyright">
        <p>&copy; 2017 - Cégnév. Minden jog fenntartva.</p>
      </div>
      <div class="go-to-top-parent">
        <a href="" class="go-to-top">
          <span>
            <i class="fa fa-angle-up"></i><br>
            Az oldal tetejére
          </span>
        </a>
      </div>
    </div>
  </div>
</footer>