<header id="header">
  <div class="inner-header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="logo">
            <h1>
              <a href="">
                <img src="" alt="Logo">
              </a>
            </h1>
          </div>
          <div class="header-slogan">
            <h2 class="header-slogan-text">
              recept blog
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="navigation-sticky-wrapper" class="sticky-wrapper">
    <nav id="navigation">
      <div class="container">
        <ul class="menu clearfix">
          <li class="menu-item">
            <a href="#"><i class="fa fa-home"></i> Főoldal</a>
          </li>
          <li class="menu-item">
            <a href="#">Receptek</a>
          </li>
          <li class="menu-item">
            <a href="#">Blog</a>
          </li>
          <li class="menu-item">
            <a href="#"><i class="fa fa-user"></i> Profilom</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>